
<br>
<div class="row">
<div class="panel">
  <span class="lead">Detalles de la tarjeta No: <strong class= "colorVerde lead"><%= @main.code %></strong></span>
  <div class="panel-body">
  
  <span class="lead">Registrada a nombre de <span class="Color-Rosa"><%= @main.name %></span></span>  
  <span class="lead"> Edad <span class="Color-Rosa"><%= @main.age %></span></span>
  <span class="lead"> Sexo <span class="Color-Rosa"><%= @main.sex %></span></span><br>

  <span class="lead">Tipo de Sangre:</span>
  <span class="lead orange"><%= @main.blood_type %></span><br>

  <span class="lead">Soy alergico a este tipo de comida:</span>
  <span class="lead orange"><%= @main.allergic_food %></span><br>

  <span class="lead">Soy alergico a este medicamento:</span>
  <span class="lead orange"><%= @main.allergic_drug %></span><br>

  <span class="lead">Enfermedades:</span>
  <span class="lead orange"><%= @main.diseases %></span><br>

  <span class="lead">En caso de emergencia llamar a:</span>
  <span class="lead orange"><%= @main.emergency_name %></span><br>

  <span class="lead">Número telefonico a donde se comunicaran en caso de emergencia:</span>
  <span class="lead orange"><%= @main.emergency_phone %></span><br>

  <span class="lead">Poliza de seguro de vida:</span>
  <span class="lead orange"><%= @main.life_insurance %></span><br>

  <span class="lead">Poliza de seguro de auto:</span>
  <span class="lead orange"><%= @main.car_insurance %></span><br>

  <strong>User:</strong>
  <%= @main.user_id %>
</p>
  </div>
</div>
</div>

