
<div class="row">

   <br>
  <p>
    <%= link_to 'Registrar nueva tarjeta', codigos_path , :class => "button button-primary middle" %>
  </p>
  <br>
  <div class="panel">
    <h3>Listado de mis tarjetas</h3>
  </div>
 

<table class="table">
  <thead class="sinborde">
    <tr class="sinborde">
      <th class= "sinborde">Código de Tarjeta</th>
      <th class= "sinborde">Nombre</th>
      <th class= "sinborde"></th>
      <th class= "sinborde"></th>
    </tr>
  </thead>

  <tbody>
    <% @mains.each do |main| %>
      <tr>
        <td><%= link_to main.code, main, :class=> "color"%></td>
        <td class="color"><%= main.name %></td>
        <td><%= link_to 'Editar', edit_main_path(main), :class => "button button-primary small" %></td>
        <td><%= link_to 'Dar de baja', main, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

        <div class="four columns">
        <div class="callout-card swift">
          <div class="callout-card-icon">
              <%= link_to main.code, main, :class=> "code"%>
          </div>
          <div class="name">
            <%= main.name%>
          </div>
           
          <%= link_to 'Editar', edit_main_path(main), :class => "button button-primary small blanco" %>
        </div>
      </div>
    <% end %>
  </tbody>
</table>

<br>
</div>

